.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
jest.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
scripts/**
syntaxes/
.github/
uc.language-configuration.json
.vscodeignore
assets/**
docs/**
out/extension.js